#room-page {
  width: 100%;
  height: 100%;
  margin-top: 0;
  gap: 30px;

  .header,
  .textbox {
    flex: 0;
  }

  .textbox {
    margin-bottom: 2.5rem;
  }
}

.chat-field {
  flex: 1;
  width: 90%;
  background-color: #e5a4eb;
  overflow: hidden;
}

.message-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.messages-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 25px 3px;
  justify-content: center;

  .right {
    justify-content: flex-end;
    padding-left: 1rem;
  }

  .left {
    justify-content: flex-start;
    padding-right: 1rem;
  }
}

.messages-item {
  display: flex;
  align-items: center;
}

.message-data {
  display: flex;
  align-items: end;
  gap: 10px;
  margin-bottom: 10px;
}

.message-body {
  background-color: #c767fa;
  padding: 10px;
  font-size: 1.4rem;
  font-weight: 500;
}

.message-owner {
  flex: 0;
  font-weight: 800;
  font-size: 1.6rem;
}

.message-created {
  font-size: 1.1rem;
  padding-bottom: 1px;
}

@media (max-width: 500px) {
  #room-page {
    gap: 1.5rem;

    .message-container {
      padding: .3rem;
    }
  }
}
