// ========================================
// Room Card
// ========================================
.room-card {
  background-color: $background-lm;
  border-radius: 0.938rem;
  width: 25%;
  max-width: 320px;
}

// ========================================
// Image Upload
// ========================================
.image-upload img {
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: $unclicked-button;
  border: 0.6rem outset $frame2;
}

// ========================================
// Room Name
// ========================================
.room-name {
  width: 100%;
  margin: 0.1rem;
  padding: 1rem;
  font-size: 1.8rem;
}

// ========================================
// Description Textbox
// ========================================
#description {
  width: 100%;
  border: 0.1rem solid $text-col-lm;
  font-size: 1.8rem;
  font-weight: 600;
  margin: 0.1rem;
  padding: 1rem;
  resize: none;
  box-sizing: border-box;
  border-radius: 1rem;
}

// ========================================
// Add Users Section
// ========================================
.plus-add-users,
.add-image-button {
  display: flex;
  margin-top: 3rem;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.plus-icon {
  background-color: $frame;
  border-radius: 50%;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $unclicked-button;
}

.add-users {
  margin-left: 1rem;
  font-weight: 600;
}
.confirmation-button {
  display: flex;
  justify-content: center;
  align-items: center;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    border-radius: 50%;
    box-shadow: $unclicked-button;
    border: red solid 0.5rem;
    &:active {
      box-shadow: $clicked-button;
    }
    .svg-icon {
      margin-top: 4rem;
      padding: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $frame;
      border-radius: 50%;
    }
  }
}
