.chat-categories {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  box-shadow: $unclicked-button;
  .chat-rooms,
  .private-chats {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
    box-shadow: $unclicked-button;
    border: $frame 0.2rem outset;
    &:active {
      box-shadow: $clicked-button;
    }
  }
  .category-name {
    display: flex;

    h2 {
      font-size: 3rem;
      font-weight: 800;
      color: $frame;
      text-align: center;
      align-items: center;
      justify-content: center;
      display: flex;
    }
  }
}
