.textbox {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  .chat-textbox {
    height: 6rem;
    width: 25rem;
    border: 0.3rem solid $frame;
    input {
      width: 100%;
      height: 100%;
      padding: 1rem;
      font-size: 2rem;
      outline: none;
      border: none;
    }
  }
  .send-text-btn,
  .add-file-btn {
    .svg-icon {
      padding: 0.5rem;
      border-radius: 3rem;
    }
  }
}
