// ========================================
// FAQ Title
// ========================================
.h1-faq {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $text-col-lm;
  margin-bottom: 2rem;
  font-size: 3.5rem;
  font-weight: 600;
}

// ========================================
// FAQ Section
// ========================================
.faq-section {
  // border-bottom: 1px solid $text-col-lm;
  border-top: 0.1rem solid $text-col-lm;
  padding: 1rem 0;
  margin: 2rem;
  width: 80%;

  &.active .faq-button::after {
    transform: rotate(-135deg);
  }

  &.active .faq-content {
    max-height: 500px;
    padding-top: 1rem;
  }
}

// ========================================
// FAQ Button
// ========================================
.faq-button {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  color: $button-hover;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 1rem;
  &::after {
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    border-right: 2px solid $frame2;
    border-bottom: 2px solid $frame2;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
  }
}

// ========================================
// FAQ Content
// ========================================
.faq-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 1rem;
  color: $text-col-lm;
  font-size: 1.4rem;
}

// ========================================
// Separator Styles
// ========================================
.faq-section + .faq-section {
  border-top: 1px solid $text-col-dm;
}
