// @use 'main' as *;

.user-info {
  display: flex;
  align-items: center;
  gap: 0.3rem; /* Adattato alle dimensioni del container */
}

.user-icon {
  width: 1.5rem; /* Adattato per stare nel container */
  height: 1.5rem;
  background-color: lightgray;
  border-radius: 50%;
}

.menu-icon {
  width: 1.5rem; /* Adattato per stare nel container */
  height: 1.5rem;
  background-color: lightgray;
  border-radius: 0.3rem;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  width: 100%;
}

.search-bar input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3rem;
  border: 0.0625rem solid #ccc; /* 1px */
  border-radius: 0.3rem;
}

.search-bar button {
  padding: 0.3rem;
  border: none;
  background-color: #ccc;
  border-radius: 0.3rem;
  cursor: pointer;
}

.tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem 0; /* Margine ridotto per adattarsi al container */
  border-bottom: 0.0625rem solid #ccc; /* 1px */
}

.tabs span {
  padding: 0.2rem 0.5rem; /* Adattato per il container */
  cursor: pointer;
}

.active-tab {
  font-weight: bold;
  border-bottom: 0.1rem solid black; /* 1.6px */
}

.user-list {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem; /* Spazi ridotti per il container */
}

.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar {
  width: 1rem; /* 32px */
  height: 1rem;
  border-radius: 50%;
}

.online {
  background-color: $online;
}

.busy {
  background-color: $busy;
}

.offline {
  background-color: $offline;
}

.blue {
  background-color: blue;
}

.add-button {
  background-color: purple;
  color: white;
  font-size: 1.5rem; /* Ridotto per il container */
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
