@import "variables";
.private-chat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $background-lm;
  color: $text-col-lm;
  width: 100%;
  margin-top: 0.5rem;
  .private-chat-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    background-color: $paragraphs-background;
    box-shadow: $unclicked-button;
    padding: 1rem 0;
    .private-chat-header-image {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      border: 0.7rem outset $frame;
      margin-right: 2rem;
      img {
        width: 90%;
      }
    }
    .private-chat-header-name {
      h2 {
        font-size: 2.5rem;
        font-weight: 800;
      }
    }
  }
  .private-chat-body {
    .avatar {
      width: 8rem;
      height: 8rem;
    }
    .my-user {
      width: 100%;
      border: red solid 0.5rem;
    }
    .other-user {
      width: 100%;
    }
  }
}
