// ---------------------COLORS------------------------
//Light Mode, Background
$background-lm: #f9fcff;
$frame: #a926f0;
$text-col-lm: #2b2b2c;
//Dark Mode
$background-dm: #09194f;
$text-col-dm: #eaebeb;
//Button, Hover, Chat
$button-chat-sent: #2452f5;
$button-hover: #1a40ca;
$button-chat-other-user: #dc4ae9;
//Warning Colors
$online: #26f034;
$busy: #ffed21;
$offline: #ff0000;
//Colors?
$colors-colors: #66a4ea;
