@import url("https://fonts.googleapis.com/css2?family=Belleza&family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300..700&display=swap");
:root {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", serif;
  font-weight: 400;
  border: none;
  border-radius: 0.5rem;
}

body {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.3rem; /* Adattato alle dimensioni del container */
}

.user-icon {
  width: 1.5rem; /* Adattato per stare nel container */
  height: 1.5rem;
  background-color: lightgray;
  border-radius: 50%;
}

.menu-icon {
  width: 1.5rem; /* Adattato per stare nel container */
  height: 1.5rem;
  background-color: lightgray;
  border-radius: 0.3rem;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  width: 100%;
}

.search-bar input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3rem;
  border: 0.0625rem solid #ccc; /* 1px */
  border-radius: 0.3rem;
}

.search-bar button {
  padding: 0.3rem;
  border: none;
  background-color: #ccc;
  border-radius: 0.3rem;
  cursor: pointer;
}

.tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0.5rem 0; /* Margine ridotto per adattarsi al container */
  border-bottom: 0.0625rem solid #ccc; /* 1px */
}

.tabs span {
  padding: 0.2rem 0.5rem; /* Adattato per il container */
  cursor: pointer;
}

.active-tab {
  font-weight: bold;
  border-bottom: 0.1rem solid black; /* 1.6px */
}

.user-list {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.3rem; /* Spazi ridotti per il container */
}

.user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.avatar {
  width: 1rem; /* 32px */
  height: 1rem;
  border-radius: 50%;
}

.online {
  background-color: #26f034;
}

.busy {
  background-color: #ffed21;
}

.offline {
  background-color: #ff0000;
}

.blue {
  background-color: blue;
}

.add-button {
  background-color: purple;
  color: white;
  font-size: 1.5rem; /* Ridotto per il container */
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 0.3rem; /* Adattato alle dimensioni del container */
}

.user-icon {
  width: 1.5rem; /* Adattato per stare nel container */
  height: 1.5rem;
  background-color: lightgray;
  border-radius: 50%;
}

.menu-icon {
  width: 1.5rem; /* Adattato per stare nel container */
  height: 1.5rem;
  background-color: lightgray;
  border-radius: 0.3rem;
}

.search-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 0.3rem;
  width: 100%;
}

.search-bar input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.3rem;
  border: 0.0625rem solid #ccc; /* 1px */
  border-radius: 0.3rem;
}

.search-bar button {
  padding: 0.3rem;
  border: none;
  background-color: #ccc;
  border-radius: 0.3rem;
  cursor: pointer;
}

@property --a {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
.logo {
  place-items: center;
  color: var(--text-col-lm, black);
  border-radius: 1rem;
  padding: 0.5rem;
  margin: 4rem 2rem;
  width: 15rem;
  height: 15rem;
  border: solid var(--b, 1px) rgba(0, 0, 0, 0);
  background: repeating-conic-gradient(from var(--a, 0deg), #a926f0 0% 20%, #66a4ea 20% 40%, #dc4ae9 40% 60%, #9f04f3 60% 80%, #4093f3 80% 100%);
  box-shadow: 0 0 1rem #9f04f3, 0 0 2rem #dc4ae9, 0 0 3rem #66a4ea;
  animation: a 2s linear infinite, glow 2s ease-in-out infinite alternate;
}

@keyframes a {
  to {
    --a: 1turn;
  }
}
@keyframes glow {
  0% {
    box-shadow: 0 0 1rem #9f04f3, 0 0 2rem #dc4ae9, 0 0 3rem #66a4ea;
  }
  100% {
    box-shadow: 0 0 1.5rem #a926f0, 0 0 2.5rem #66a4ea, 0 0 4rem #dc4ae9;
  }
}
.h1-title-welcome {
  font-size: 1.5rem;
  color: #a926f0;
  padding: 1rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: #eaebeb;
}
.h1-title-welcome h1 {
  font-weight: bolder;
  text-shadow: -1px -1px 1px #efede3, 0px 1px 0 #ffffff, 0px 2px 0 #ffffff, 0px 3px 0 #faf8f8, 0px 4px 0 #fffdfd, 0px 5px 0 #ffffff;
}

h2 {
  font-size: 5rem;
  color: #a926f0;
  margin: 0.5rem 0;
}

.login-form,
.login-form-full {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  gap: 2rem;
}

.login-form input {
  width: 100%;
  background-color: #f9fcff;
  font-size: 2.5rem;
  outline: none;
  border-bottom: 0.038rem solid #ccc;
  padding: 0.3rem;
}

.signup-button-div,
.login-button-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1.5rem 0;
}
.signup-button-div button,
.login-button-div button {
  width: 90%;
  color: #2b2b2c;
  background-color: #eaebeb;
  padding: 0.5rem;
  cursor: pointer;
  font-size: 2.5rem;
}
.signup-button-div button:hover,
.login-button-div button:hover {
  opacity: 0.7;
}
.signup-button-div a,
.login-button-div a {
  font-size: 1.5rem;
  color: #2b2b2c;
  margin: 1rem 0;
  color: blue;
}

.faq {
  color: blue;
  border: 0.2rem solid #ccc;
  padding: 0.8rem;
  margin: 3rem 0;
}
.faq a {
  font-size: 1.5rem;
}/*# sourceMappingURL=main.css.map */